
.title{
	position: absolute;
	left: 30px;
	font-size: 108px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
span {
	color: rgb(255, 0, 0);
}

.j1body {
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.j1tab{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}

.foamtab {
	font-size: 20px;
	position: absolute;
	top: 75px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}

.j4tab{
	font-size: 20px;
	position: absolute;
	top: 105px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j11tab{
	font-size: 20px;
	position: absolute;
	top: 135px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j5tab {
	font-size: 20px;
	position: absolute;
	top: 165px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.jordan1 {
	position: absolute;
	left: 500px;
	top: 75px;
	width: 55vw;
}

.j1buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j1button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j1description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.foam1 {
	position: absolute;
	left: 500px;
	top: 95px;
	width: 55vw;

}

.foambody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.foambuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.foambutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.foamdescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.jordan4 {
	position: absolute;
	left: 500px;
	top: 95px;
	width: 55vw;

}

.j4body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.j4buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j4button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j4description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.jordan11 {
	position: absolute;
	left: 500px;
	top: 95px;
	width: 55vw;

}

.j11body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.j11buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j11button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j11description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.jordan5 {
	position: absolute;
	left: 500px;
	top: 95px;
	width: 55vw;

}

.j5body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.j5buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j5button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j5description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;