
.title{
	position: absolute;
	left: 30px;
	font-size: 108px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.map{
	position: absolute;
	width: 55vw;
	top: 25px;
	left: 500px;
}
.maintitle{
	position: absolute;
	left: 30px;
	font-size: 108px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.mainsubtitle{
	position: absolute;
	left: 30px;
	top: 110px;
	font-size: 108px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.mainpic{
	position: absolute;
	top: 220px;
	left: 10px;
	width: 43vw;
}
.mainpagebio{
	position: absolute;
	top: 138px;
	left: 570px;
	width: 425px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}
.continue{
	position: absolute;
	left: 30px;
	top: 670px;
	font-size: 38px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
	color: black;
}
span {
	color: rgb(255, 0, 0);
}

.j1body {
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}
.collectiontitle{
	font-size: 20px;
	position: absolute;
	top: 10px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}

.j1tab{
	font-size: 20px;
	position: absolute;
	top: 45px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}

.foamtab {
	font-size: 20px;
	position: absolute;
	top: 75px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}

.j4tab{
	font-size: 20px;
	position: absolute;
	top: 105px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j11tab{
	font-size: 20px;
	position: absolute;
	top: 135px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j5tab {
	font-size: 20px;
	position: absolute;
	top: 165px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.lavatab{
	font-size: 20px;
	position: absolute;
	top: 195px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.hurrachetab{
	font-size: 20px;
	position: absolute;
	top: 225px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.airtrainertab{
	font-size: 20px;
	position: absolute;
	top: 255px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j3tab{
	font-size: 20px;
	position: absolute;
	top: 285px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.am1tab{
	font-size: 20px;
	position: absolute;
	top: 315px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.dunktab{
	font-size: 20px;
	position: absolute;
	top: 345px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.af1tab{
	font-size: 20px;
	position: absolute;
	top: 375px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.am90tab{
	font-size: 20px;
	position: absolute;
	top: 405px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.am95tab{
	font-size: 20px;
	position: absolute;
	top: 435px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.am97tab{
	font-size: 20px;
	position: absolute;
	top: 465px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.blazertab{
	font-size: 20px;
	position: absolute;
	top: 495px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.corteztab{
	font-size: 20px;
	position: absolute;
	top: 525px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.magtab{
	font-size: 20px;
	position: absolute;
	top: 555px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.yeezytab{
	font-size: 20px;
	position: absolute;
	top: 585px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;	
}
.prestotab{
	font-size: 20px;
	position: absolute;
	top: 615px;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;	
}
.jordan1 {
	position: absolute;
	left: 500px;
	top: 75px;
	width: 55vw;
}

.j1buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j1button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j1description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.foam1 {
	position: absolute;
	left: 500px;
	top: 95px;
	width: 55vw;

}

.foambody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.foambuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.foambutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.foamdescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.jordan4 {
	position: absolute;
	left: 500px;
	top: 95px;
	width: 55vw;

}

.j4body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.j4buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j4button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j4description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.jordan11 {
	position: absolute;
	left: 500px;
	top: 95px;
	width: 55vw;

}

.j11body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.j11buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j11button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j11description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.jordan5 {
	position: absolute;
	left: 500px;
	top: 95px;
	width: 55vw;

}

.j5body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.j5buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j5button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j5description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.lavadome {
	position: absolute;
	left: 370px;
	top: 225px;
	width: 60vw;

}

.lavabody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.lavabuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.lavabutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.lavadescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}

.hurrache {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.hurrachebody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.hurrachebuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.hurrachebutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.hurrachedescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;

}
.airtrainer {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.airtrainerbody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.airtrainerbuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.airtrainerbutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.airtrainerdescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;

}
.j3 {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.j3body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.j3buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.j3button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.j3description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;

}
.am1 {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.am1body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.am1buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.am1button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.am1description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;

}
.dunk {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.dunkbody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.dunkbuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.dunkbutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.dunkdescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;

}
.af1 {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.af1body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.af1buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.af1button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.af1description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;

}
.am90 {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.am90body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.am90buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.am90button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.am90description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;

}
.am95 {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.am95body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.am95buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.am95button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.am95description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;

}
.am97 {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.am97body{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.am97buttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.am97button {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.am97description{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.blazer {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.blazerbody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.blazerbuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.blazerbutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.blazerdescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.cortez {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.cortezbody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.cortezbuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.cortezbutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.cortezdescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.mag {
	position: absolute;
	left: 490px;
	top: 75px;
	width: 45vw;

}

.magbody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.magbuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.magbutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.magdescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.yeezy {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.yeezybody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.yeezybuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.yeezybutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.yeezydescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.presto {
	position: absolute;
	left: 490px;
	top: 105px;
	width: 60vw;

}

.prestobody{
	position: absolute;
	top: 150px;
	left: 32.5px;
	width: 350px;
	font-size: 20px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
}

.prestobuttontype{
	font-size: 20px;
	position: absolute;
	color: rgb(255, 0, 0);
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}
.prestobutton {
	position: absolute;
	top: 650px;
	width: 70px;
	left: 30px;
}
.prestodescription{
	position: absolute;
	top:  525px;
	left: 30px;
	width: 350px;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
}