body {
	background-color: rgb(228, 78, 193);
}
.logo1 {
position: absolute;
left: 2vw;
width: 7vw;

}
   .pics {
  position: absolute;
  top: 4vw;
  left: 28vw;
  width: 80vw;
}

.adult {
top: 1.2vw;
left: 0vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;

}

.admission{
position: absolute;
top: 0vw;
left: 53vw;
width: 100vw;

}
.adultprice {
top: 1.2vw;
left: 3.5vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);

}

.senior {
top: 1.2vw;
left: 6.5vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;
}

.seniorprice {
top: 1.2vw;
left: 13.9vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);

}

.student {
top: 1.2vw;
left: 16.5vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;

}

.studentprice {
top: 1.2vw;
left: 21.4vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);

}


.studentid {
top: 0px;
left: 16.5vw;
position: absolute;
font-family: abolition, sans-serif;
font-weight: 400;
font-size: 1.2vw;
font-style: normal;

}

.millitary {
top: 1.2vw;
left: 24vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;

}

.millitaryid{
top: 0px;
left: 24vw;
position: absolute;
font-family: abolition, sans-serif;
font-weight: 400;
font-size: 1.2vw;
font-style: normal;

}

.millitaryprice {
top: 1.2vw;
left: 29.6vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);

}

.children{
top: 1.2vw;
left: 32.25vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;

}

.childrenprice {
top: 1.2vw;
left: 43.4vw;
position: absolute;
font-family: abolition, sans-serif;
font-size: 2vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);	

}

.highlighttext {
position: absolute;
left: 4.9vw;
top: 11.5vw;
color: rgb(255, 255, 255);

}

.andywhite {
position: absolute;
font-family: abolition, sans-serif;
font-size: 8vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);

}

.warholwhite {
position: absolute;
left: 14.5vw;
top: 8.2vw;
font-family: abolition, sans-serif;
font-size: 8vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);

}

.photowhite {
position: absolute;
top:  16.4vw;
font-family: abolition, sans-serif;
font-size: 8vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);

}

.factorywhite {
position: absolute;
left: 14.5vw;
top: 24.6vw;
font-family: abolition, sans-serif;
font-size: 8vw;
font-weight: 400;
font-style: normal;
color: rgb(255, 255, 255);

}

.shadowtext {
position: absolute;
left: 4.5vw;
top: 12vw;
}

.andyblack {
position: absolute;
font-family: abolition, sans-serif;
font-size: 8vw;
font-weight: 400;
font-style: normal;


}

.warholblack {
position: absolute;
left: 14.5vw;
top: 8.2vw;
font-family: abolition, sans-serif;
font-size: 8vw;
font-weight: 400;
font-style: normal;

}

.photoblack {
position: absolute;
top:  16.4vw;
font-family: abolition, sans-serif;
font-size: 8vw;
font-weight: 400;
font-style: normal;

}

.factoryblack {
position: absolute;
left: 14.5vw;
top: 24.6vw;
font-family: abolition, sans-serif;
font-size: 8vw;
font-weight: 400;
font-style: normal;

}

.outlinetext {
position: absolute;
left: 4.5vw;
top: 13.5vw;
width: 500px;

}

.limitedoutline {
position: absolute;
font-family: abolition, sans-serif;
font-size: 2.5vw;
font-weight: 400;
font-style: normal;
left: 17.3vw;
color: rgb(228, 96, 193);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;

}

.exhibitionoutline {
position: absolute;
font-family: abolition, sans-serif;
font-size: 2.5vw;
font-weight: 400;
font-style: normal;
top: 2.5vw;
left: 17.3vw;
color: rgb(228, 96, 193);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;

}

.dayoutline {
position: absolute;
font-family: abolition, sans-serif;
font-size: 2.5vw;
font-weight: 400;
font-style: normal;
top: 16vw;
left: 17.3vw;
color: rgb(228, 96, 193);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;

}

.timeoutline {
position: absolute;
font-family: abolition, sans-serif;
font-size: 2.5vw;
font-weight: 400;
font-style: normal;
top: 18.5vw;
left: 17.3vw;
color: rgb(228, 96, 193);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;

}

.displayoutline {
position: absolute;
font-family: abolition, sans-serif;
font-size: 2.5vw;
font-weight: 400;
font-style: normal;
top: 8.25vw;
color: rgb(228, 96, 193);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;

}

.dateoutline {
position: absolute;
font-family: abolition, sans-serif;
font-size: 2.5vw;
font-weight: 400;
font-style: normal;
top: 10.75vw;
color: rgb(228, 96, 193);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;

}

.addressoutline {
position: absolute;
font-family: abolition, sans-serif;
font-size: 2.5vw;
font-weight: 400;
font-style: normal;
top: 24.2vw;
color: rgb(228, 96, 193);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;

}

.nyoutline {
position: absolute;
font-family: abolition, sans-serif;
font-size: 2.5vw;
font-weight: 400;
font-style: normal;
top: 26.7vw;
color: rgb(228, 96, 193);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;

}

@media (max width: 390px) {
	.logo1 {
		width: 35vw;
		left: 0vw;
	}
	.admission {
		top: 10vw;
	}
	.addressoutline{
-webkit-text-stroke-width: 0.25px;
-webkit-text-stroke-color: white;
	}
